/* Reset básico */
:root {
  --azul-principal: #002E6B;
  --fundo-claro: #FBFAF7;
  --azul-hover: #01408f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--fundo-claro);
}

/* HERO - cores do texto */
.hero {
  min-height: 45vh;
  padding: 30px 20px;
  background: linear-gradient(
    to bottom,
    var(--azul-principal) 0%,
    #013a84 60%,
    var(--fundo-claro) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* textos do hero*/
.hero .logo h1,
.hero-text h2 {
  color: #ffffff;
}

.hero .logo span,
.hero-text .season,
.hero-text .subtitle {
  color: #e6ecf3;
}

/* Catalogo e filtros */
.catalogo {
  padding: 40px 20px;
  background-color: #fff;
}

.filtros-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.filtros {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.filtros button {
  background-color: #e6ecf3;
  color:var(--azul-principal);
}

.filtros button.ativo,
.filtros button:hover {
  background-color: var(--azul-principal);
  color: #ffffff;
}

/* Cards produtos */
.produtos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.card-img {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover .card-img img {
  transform: scale(1.05);
}

.card .tag {
 background-color: var(--azul-principal);
}

.card-info {
  padding: 15px;
  text-align: center;
}

.card-info h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #1a1a1a;
}

.card-info .descricao {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 10px;
}

.card-info .preco {
  font-weight: bold;
  color: #1ca1f2;
  margin-bottom: 12px;
}

.btn-comprar {
  display: inline-block;
  padding: 8px 14px;
  background-color: var(--azul-principal);
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease;
}

.btn-comprar:hover {
  background-color: var(--azul-hover);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: var(--azul-principal);
  color: #ffffff;
  margin-top: 40px;
}
/* Animação de filtro */
.produto {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.35s ease, transform 0.35s ease;
}

.produto.oculto {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}
@media (max-width: 768px) {
  .hero {
    min-height: 40vh;
    padding: 15px 10px;
  }

  .hero .logo h1 {
    font-size: 2.2rem;
  }
}

